.contact {
    position: relative;

    &__content {
        width: 770px;
        height: 450px;
        position: absolute;
        top: -300px;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: white;
    }

    &__caption {
        @include caption;
        text-align: center;
        margin-top: 85px;
        margin-bottom: 30px;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
        
    }
    
    &__caption::before {
        @include caption-before;
        top: -25px
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 0 60px;
    }

    &__details .fas, &__details .far {
        color: $color-what-we-do-content--left;
        padding-right: 10px;
    }

    &__adress, &__phone, &__email, &__work-hours {
        font-size: $font-size-paragraf;
        font-family: $font-family-gotham-book;
        line-height: 58px;
    }

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 210px;

    &__name, &__email {
        width: 310px;
        border: none;
        border-bottom: 1px solid $color-grey-text;
        opacity: 50%;
        
        padding-bottom: 15px;
        padding-top: 20px;
        font-size: $font-size-paragraf;
    }

    &__email {
        padding-top: 25px;
    }

    &__name::placeholder, &__email::placeholder {
        color: $color-grey-text;
        opacity: 50%;
    }
    &__btn {
        background-color: $color-title-white;
        margin-top: 20px;
    }

    &__name:focus-visible, &__email:focus-visible{
        outline-offset: 0px;
        outline: none;
        border-bottom: 1px solid $color-dark-text;
        opacity: 1;
    }
    input:focus-visible:invalid {
        border-bottom: 1px solid rgb(252, 153, 153);
      }
    input:focus-visible:valid {
        border-bottom: 1px solid rgb(124, 253, 189);
      }
}

@media screen and (max-width: 980px) {
    .contact {
        
        &__content {
            width: 700px;
            top: -380px;
        }
    }
}

@media screen and (max-width: 720px) {
    .contact {
        
        &__content {
            width: 500px;
            height: 700px;
            top: -380px;
        }

        &__info {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        &__details {
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: 540px) {

    .contact {
        
        &__content {
            width: 100%;
            height: 700px;
            top: -380px;
        }

        &__info {
            display: flex;
            justify-content: space-between;
            padding: 0 5px;
        }
    }
}